python-dotenv
requests
urllib3<2
google-auth<2.0
google-cloud-storage<2.0
google-cloud-secret-manager
geopandas
pandas
shapely
matplotlib
contextily
ee
geemap
matplotlib-scalebar
gcsfs
scikit-learn
tenacity